.item{
    position: relative;
    border:  1px solid var(--var-main);
    border-radius: 6px;
    padding: 10px 20px;
    overflow: hidden;
}
.item:hover::after ~ .item{
    color: #fff;
}
.item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: orange;
    z-index: -2;
    transform: translateX(-40%) translateY(-30%);
    transition: all .5s;
}
.item:hover::after{
    width: 1000px;
    height: 1000px;
}
.item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #000;
    transform: translateX(-40%) translateY(-30%);
    transition: all .5s;
    z-index: -1;
}
.item:hover::before{
    width: 100px;
    height: 100px;
}
.icon{
    font-size: 42px;
    color: var(--var-main);
}