#contact{
    position: relative;
    background: rgb(0,0,0, .6);
    color: #fff;
}
#contact::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(http://perfectpixelweb.com/profile/assets/img/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}