#contact{
    position: relative;
    background: rgb(0,0,0, .6);
    color: #fff;
}
#contact::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(http://perfectpixelweb.com/profile/assets/img/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
#contact .heading-about .section-title{
    color: #fff;
    border-top: #fff 4px solid;
}
#contact .heading-about .section-subtitle{
    color: #fff;
}

#contact .detail-contact .content-left .heading{
    display: inline-block;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 2px solid var(--var-main);
    margin-bottom: 15px;
}
#contact .detail-contact .content-left .add-item i{
    padding: 10px 10px 10px 0;
    transform: translateY(-10%);
}