.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-main: #109af7;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 38px;
    color: #000;
    padding: 0;
    border-top: 4px solid #000;
    border-bottom: 4px solid var(--var-main);
    width: max-content;
    margin: 0 auto;
    font-weight: 700;
}

.section-subtitle {
    font-size: 18px;
    color: #777;
    padding: 20px 0;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
}
