.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-main: #109af7;
    --var-text: #777;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 38px;
    color: #000;
    padding: 0;
    border-top: 4px solid #000;
    border-bottom: 4px solid var(--var-main);
    width: max-content;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

.section-subtitle {
    font-size: 18px;
    color: #777;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.section-page{
    padding: 5rem 0;
}

.btn-more{
    padding: 15px 25px;
    border: 2px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition:  .3s;
}
.btn-more:hover{
    border-color: #109af7;
    color: #fff;
    background: rgba(0,0,0,0) -webkit-linear-gradient(left,#00c6ff,#0072ff);
    background: rgba(0,0,0,0) linear-gradient(to right,#00c6ff,#0072ff);
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1220px !important;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}