.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --var-main: #109af7;
}
a {
    text-decoration: none;
}
.section-title{
    font-size: 38px;
    color: #000;
    padding: 10px 0;
    border-top: 3px solid #000;
    border-bottom: 3px solid (var(--var-main));
}