#about{
    /*Write here*/
    margin-top: -6rem;
}
#about .profile-img{
    border-radius: 50%;
}
#about .info-owner .name{
    color: var(--var-main);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
#about .info-owner .job{
    color: #000;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}
#about .info-owner .content{
    color: var(--var-text);
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
}
#about .info-owner .btn-download{
    padding: 12px 20px;
    border: 2px solid var(--var-main);
    color: var(--var-main);
    text-transform: uppercase;
    font-size: 16px;
}
#about .info-owner .btn-download:hover{
    border-color: #109af7;
    color: #fff;
    background: rgba(0,0,0,0) -webkit-linear-gradient(left,#00c6ff,#0072ff);
    background: rgba(0,0,0,0) linear-gradient(to right,#00c6ff,#0072ff);
}
#about .owner-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}
#about .owner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}
#about .owner-img img:hover{
    transform: scale(1.5);
}