#portfolio .port-item{
    margin-bottom: 50px;
}
#portfolio .port-item .card{
    border: none;
}
#portfolio .port-item .card .img-product{
    position: relative;
    width: 100%;
}
#portfolio .port-item .card .img-product:hover .portfolio-hover{
    opacity: 1;
}
#portfolio .port-item .card .img-product img{
    width: 100%;
    height: 250px;
}
#portfolio .port-item .card .img-product .portfolio-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(16, 154, 247, .5);
    opacity: 0;
    transition: all .5s;
}
#portfolio .port-item .card .img-product .portfolio-hover i{
    color: #fff;
    font-size: 52px;
}
#portfolio .port-item .card .name{
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
}
#portfolio .port-item .card .category{
    color: var(--var-text);
}