#resume .content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
#resume .content .emote{
    position: relative;
}
#resume .content .emote .suitcase{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--var-main);
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    font-size: 92px;
}
#resume .content .emote .sub-content{
    position: absolute;
    top: 50%;
    right: 0;
    width: 400px;
    transform: translateX(105%) translateY(-50%);
}
#resume .content .emote .sub-content.left{
    left: 0;
    width: 400px;
    transform: translateX(-105%) translateY(-50%);
    text-align: right;
}
#resume .content .emote .sub-content .heading{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
#resume .content .emote .sub-content .title{
    color: var(--var-main);
    font-weight: 700;
    font-size: 18px;
}
@media screen and (max-width: 992px) {
    #resume .content{
        justify-content: start;
        align-items: flex-start;
    }
    #resume .content .emote .sub-content.left{
        position: absolute;
        top: 50%;
        right: 0;
        width: 400px;
        transform: translateX(45%) translateY(-50%);
        text-align: left;
    }
}
@media screen and (max-width: 643px) {
    #resume .content{
        padding: 0 20px;
    }
    #resume .content .emote .sub-content{
        width: 250px;
    }
    #resume .content .emote .sub-content.left{
        width: 250px;
        transform: translateX(45%) translateY(-50%);
    }
    #resume .content .emote .sub-content .heading{
        font-size: 22px;
    }
    #resume .content .emote .suitcase{
        padding: 15px;
        border-radius: 50%;
        font-size: 72px;
    }
}
@media screen and (max-width: 384px) {
    #resume .content .emote .suitcase{
        padding: 10px;
        border-radius: 50%;
        font-size: 42px;
    }
    #resume .content .emote .sub-content{
        width: 250px;
    }
    #resume .content .emote .sub-content.left{
        width: 250px;
        transform: translateX(30%) translateY(-50%);
    }
    #resume .content .emote .sub-content .heading{
        font-size: 18px;
    }
    #resume .content .emote .sub-content .title{
        font-size: 14px;
    }
    #resume .content .emote .sub-content .note{
        font-size: 14px;
    }
}