#resume .content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
#resume .content .emote{
    position: relative;
}
#resume .content .emote .suitcase{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--var-main);
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    font-size: 92px;
}
#resume .content .emote .sub-content{
    position: absolute;
    top: 50%;
    right: 0;
    width: 400px;
    transform: translateX(105%) translateY(-50%);
}
#resume .content .emote .sub-content.left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-105%) translateY(-50%);
    text-align: right;
}
#resume .content .emote .sub-content .heading{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
#resume .content .emote .sub-content .title{
    color: var(--var-main);
    font-weight: 700;
    font-size: 18px;
}
@media screen and (max-width: 992px) {
    #resume .content{
        justify-content: start;
        align-items: flex-start;
    }
    #resume .content .emote .sub-content{

    }
}