#resume .content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#resume .content .emote{
    position: relative;
}
#resume .content .emote .suitcase{
    
}
#resume .content .emote .sub-content{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    transform: translateX(110%);
}
