#banner{
    position: relative;
    width: 100%;
    height: 750px;
    /* transform: translateY(-10px); */
}
.wavy {
    display: inline-block;
    position: relative;
  }

#banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: url(https://img4.thuthuatphanmem.vn/uploads/2020/12/25/background-ca-phe-don-gian-ma-dep_034344301.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
#banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    z-index: -1;
}
#banner .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .content .sub-content{
    text-align: center;
    color: #fff;
}
#banner .content .sub-content .heading{
    font-size: 40px;
    margin-bottom: 40px;
    line-height: 40px;
    font-weight: 700;
    /* color: #0072ff; */
}
#banner .content .sub-content .sub-title{
    font-size: 65px;
    margin-bottom: 60px;
    line-height: 75px;
    min-height: 100px;
}
#banner .content .sub-content .btn-more{
    padding: 15px 25px;
    border: 2px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition:  .3s;
}
#banner .content .sub-content .btn-more:hover{
    border-color: #109af7;
    color: #fff;
    background: rgba(0,0,0,0) -webkit-linear-gradient(left,#00c6ff,#0072ff);
    background: rgba(0,0,0,0) linear-gradient(to right,#00c6ff,#0072ff);
}
#banner .action-word{
    animation: action .5s infinite ease-out;
}
@keyframes action {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}